// For Bootstrap
// ----------------------
// This .no-gutters class removes those default margins and paddings.
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;

}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

//  Styles
// ------------------------
body {
  overflow: hidden;
}

.family-courier {
  font-family: 'CourierStd';
  line-height: 1.2;
}

.background-full {
  width: 100%;
  height: 100%;

  &.loader-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: @body-bg;
  }

	>img.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-name: imgFade;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 15s;
		-moz-animation-name: imgFade;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-iteration-count: infinite;
		-moz-animation-duration: 15s;
		-o-animation-name: imgFade;
		-o-animation-timing-function: ease-in-out;
		-o-animation-iteration-count: infinite;
		-o-animation-duration: 15s;
		animation-name: imgFade;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15s;

    &:nth-of-type(1) {
			-webkit-animation-delay: 12s;
			-moz-animation-delay: 12s;
			-o-animation-delay: 12s;
			animation-delay: 12s;
		}
    &:nth-of-type(2) {
			-webkit-animation-delay: 9s;
			-moz-animation-delay: 9s;
			-o-animation-delay: 9s;
			animation-delay: 9s;
		}
		&:nth-of-type(3) {
			-webkit-animation-delay: 6s;
			-moz-animation-delay: 6s;
			-o-animation-delay: 6s;
			animation-delay: 6s;
		}
		&:nth-of-type(4) {
			-webkit-animation-delay: 3s;
			-moz-animation-delay: 3s;
			-o-animation-delay: 3s;
			animation-delay: 3s;
		}
		&:nth-of-type(5) {
			-webkit-animation-delay: 0s;
			-moz-animation-delay: 0s;
			-o-animation-delay: 0s;
			animation-delay: 0s;
		}
	}
}
.background-row {
	background-color: #000;
	opacity: 0.8;
  border-top: 2px solid white;
}

.logo {
	>img {
		width: 335px;
	}
}

.title {
	color: #bc9f30;
}

.social-title {
  margin-left: 21%;
}
.location-title {
  margin-left: 15%;
}

.pull-down {
  position: fixed;
  bottom: 0;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 1);
}

// Media queries
//------------------------
// XXS query
@media (max-width: @screen-xs-min) {
  .family-courier {
    line-height: 1.1;
  }
  .background-row {
    border-top: none;
  }
  .time-fix {
    font-size: 9px;
    letter-spacing: 1;
  }
}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .logo {
  	>img {
  		width: 80%;
  	}
  }
  .background-row {
    border-top: 1px solid white;
  }
}
