@import (css) "../fonts/icons/icons-font.css";

.icon {
	position: absolute;
	font-size: 30px;
	color: #fff;
	left: 0%;
	top: 48%;

	&.extra-left {
		left: 10%;
	}

	&.icon-fb {
		font-size: 35px;
	}

	&.icon-location {
		top: 0;
		font-size: 25px;
		left: 4%;

		&.extra-left {
			left: 20%;
		}
	}
}
